<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XML_Filler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XML_Filler.Properties.Settings>
            <setting name="TimerStep" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value>Збережені файли\</value>
            </setting>
            <setting name="ChekingScheme" serializeAs="String">
                <value>Схеми перевірки\Standard.set</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTagAutofix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FixStateActInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullscreenMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixProprietorInfo" serializeAs="String">
                <value>True</value>
            </setting>
        </XML_Filler.Properties.Settings>
    </userSettings>
</configuration>